/* Map background */
#map {
    background-color: #000000;
}

/* Full-page layout */
html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Column layouts */
.col9 {
    height: 100% !important;
}

.col3 {
    height: 100%;
    overflow: auto;
}

/* Info boxes (like popup info) */
.info {
    padding: 6px 8px;
    font: 14px/1.6 'Open Sans', Arial, sans-serif;
    background: rgba(0,0,0,0.0); /* fully transparent */
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 5px;
}

    .info h2 {
        margin: 0 0 5px;
        color: #ffffff;
    }

/* Leaflet container */
.leaflet-container {
    background: #000000;
    padding-right: 0;
}

/* Popups */
.leaflet-popup-scrolled {
    border-top: unset !important;
    border-bottom: unset !important;
}

.leaflet-popup-content {
    max-height: 70vh;
    max-width: 70vw;
    color: #ffffff;
}

    .leaflet-popup-content.media {
        width: auto !important;
        height: auto !important;
    }

    .leaflet-popup-content th {
        text-align: left;
        vertical-align: top;
        min-width: 75px;
        color: #ffffff;
    }

    .leaflet-popup-content td {
        min-width: 75px;
        color: #ffffff;
    }

        .leaflet-popup-content td img {
            max-height: 60vh;
            max-width: 60vw;
        }

.leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 2px;
}

/* Tooltips */
.leaflet-tooltip {
    background: none;
    box-shadow: none;
    border: none;
}

.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    border: 0px;
}

/* General icons & controls */
.fa, a {
    color: #ffffff !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-locate a,
.leaflet-touch .leaflet-control-geocoder-icon,
.leaflet-control-search .search-button,
.leaflet-control-measure {
    background-color: #000000 !important;
    border-radius: 0px !important;
    color: #ffffff !important;
}

/* Abstract blocks */
.abstract {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    background-color: rgba(0,0,0,0.0);
    width: fit-content;
    color: #ffffff;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.abstractUncollapsed {
    padding: 6px 8px;
    font: 12px/1.5 'Open Sans', Arial, sans-serif;
    background-color: rgba(0,0,0,0.0);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 40%;
}

/* Control panels */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar,
.leaflet-control-search,
.leaflet-control-measure {
    border: 3px solid rgba(255,255,255,0.4) !important;
}

/* Attribution & scale */
.leaflet-control-attribution a {
    color: #0078A8 !important;
}

.leaflet-control-scale-line {
    border: 2px solid #ffffff !important;
    border-top: none !important;
    color: white !important;
}

/* Search control */
.leaflet-control-search .search-button {
    width: 30px !important;
    height: 30px !important;
    font-size: 13px !important;
    text-align: center !important;
    line-height: 30px !important;
    cursor: pointer;
}

.search-button.fa.fa-binoculars {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Measure tool */
.leaflet-control-measure {
    background: none !important;
    border-radius: 4px !important;
}

    .leaflet-control-measure .leaflet-control-measure-interaction {
        background-color: #000000 !important;
    }

.leaflet-touch .leaflet-control-measure
.leaflet-control-measure-toggle,
.leaflet-touch .leaflet-control-measure
.leaflet-control-measure-toggle:hover {
    width: 30px !important;
    height: 30px !important;
    border-radius: 0px !important;
    background-color: #000000 !important;
    color: #ffffff !important;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
}

/* Layers control */
.leaflet-control-layers {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0,0,0,0.0);
    color: #ffffff !important;
}

.leaflet-control-layers-expanded {
    padding-left: 6px;
}

.le
